body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #040355, #001f3f); 
    margin: 0;
}

.container {
    max-width: 1600px;
    margin: 50px auto;
    background: linear-gradient(to right, #004080, #0066cc);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 3s ease;

}

h2 {
    text-align: center;
    color: #333;
}

.passenger-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    font-size: 16px;
}

.flights-section {
    margin-bottom: 20px;
}

.completed-flights,
.current-flights {
    list-style-type: none;
    padding: 0;
}

.completed-flights li,
.current-flights li {
    margin-bottom: 8px;
}

.profile-section,
.search-section {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #555;
}

.company-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.company-navigation li {
    margin-right: 20px;
}

.company-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #343a40;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.company-navigation li {
    margin: 0;
}

.company-navigation a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}
.logo-container {
    position: absolute;
    top: 45px;
    left: 140px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    color: #3489d8; 
    margin: 0; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-weight: 700; 
    font-style: italic;
}
.company-navigation a:hover {
    background-color: #555;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}